*{
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
}

body {
  background: linear-gradient(to right, #87CEFA, #DDA0DD); /* Light Sky Blue to Pale Violet Red */
}